@model TravelExpenses.Web.Data.Entities.TravelEntity

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Datos de este viaje:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Fecha de Inicio
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            Fecha de Finalización
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            Ciudad de Destino
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            Documento Empleado
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Document)
        </dd>
        <dt>
            Nombres Empleado
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
        <dt>
            Apellidos Empleado
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.LastName)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Editar" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Regresar a la lista</a>
</div>

<br />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Gastos de este viaje:</h3>
            </div>
            <div class="panel-body">

                @foreach (var item in Model.Expenses)
                {

                    <div class="container">
                        <div class="row">
                            <div class="col-md-2">

                                <p><b>Valor Registrado</b></p>
                                <p>$@Html.DisplayFor(modelItem => item.Value)</p>

                                <p><b>Tipo de gasto</b></p>
                                <p>@Html.DisplayFor(modelItem => item.ExpenseType.Name)</p>

                                <p><b>Comentario</b></p>
                                <p>@Html.DisplayFor(modelItem => item.Comment)</p>

                            </div>
                            <div class="col-md-10">

                                <p><b>Foto de Recibo</b></p>
                                <br />
                                <img src="@Url.Content(item.ReceiptPath)" height="400" />

                            </div>
                        </div>
                    </div>
                    <hr />
                    <br />

                }
            </div>
        </div>
    </div>
</div>
